* {
    border-radius: 5px;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

body {
    background-color: #306082;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
}

#index {
    background-image: url("images/background.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: 100%;
}

#canvas {
    width: 1000px;
    height: 600px;
    border: 20px solid #ffffff;
    margin: auto;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

h1, label, input[type="submit"], p {
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

h1 {
    font-size: 40px;
    width: 100%;
    color: white;
    text-decoration: underline;
    background-color: rgba(100, 255, 100, 0.1);
    padding-bottom: 10px;
    padding-top: 10px;
    
}

input[type="text"], input[type="password"], input[type="submit"], label {
    padding: 10px;
}

p, label {
    color: white;
}

input[type="submit"], p, h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

a {
    color: #41e3ff;
    text-decoration: none;
}

a:hover, input[type="submit"]:hover {
    text-decoration: underline;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;  
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    max-width: 600px;
}

@media print {
    h1, form, a, input, p, label {
        color: black;
        background-color: white;
    }
}